<!DOCTYPE html>

<!-- Wish Work Technical Team -->
<!--Freelancing Website For talented-->
<!--All rights reserved by Wish Work-->


<html>
<head lang="fa">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="shortcut icon" url=http://http://wishwork.ir/static/img/tab-img.png/>


    <title>داشبورد شما | ویش ورک</title>
</head>
<body class="fixed-nav" id="page-top" dir="rtl">
<div id='root'></div>
</body>
</html>
