<!DOCTYPE html>

<!-- wish-work-front -->

<html>
<head lang="fa">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <script name="bootstrap" src="node_modules/react-bootstrap/react-bootstrap.js"></script>
    <script name="bootstrap" src="node_modules/reactstrap/reactstrap.cjs.js"></script>
    <script name="bootstrap" src="node_modules/reactstrap/reactstrap.cjs.js.map"></script>
    <script name="bootstrap" src="node_modules/bootstrap/bootstrap.js"></script>


    <title>Dashboard</title>
</head>
<body class="fixed-nav" id="page-top">
<div id='root'></div>
</body>
</html>
