.btn-primary {
    color: #fff;
    background-color: #018abe;
    border-color: #018abe;
}
.btn-primary:hover {
    color: #fff;
    background-color: #014762;
    border-color: #014762;
}
.btn-rec-sm {
    border-radius: 15px;
    padding-right: 25px;
    padding-left: 25px;
}
.btn {
 padding: 0.25rem 0.5rem;
 font-size: 0.875rem;
 line-height: 1.5;
 border: 1px solid transparent;
}
.btn-rec-lg {
    border-radius: 22.5px;
    padding-right: 25px;
    padding-left: 25px;
}

.btn-rec {
    border-radius: 0;
    padding-right: 25px;
    padding-left: 25px;
}
